#container{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #211d1c;
}

#container nav{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #333333;
    -webkit-app-region: drag;
}

#container nav #titleShown{
    width: 30%;
    height: 100%;
    line-height: 30px;
    color: #f7f7f7;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding: 0 0 0 1em;
}

#container nav #buttons{
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #222222;
    -webkit-app-region: no-drag;
}

#buttons #minimize{
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    transition: all ease-in-out .2s;
}

#buttons #maximize{
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    transition: all ease-in-out .2s;
}

#buttons #close{
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #f7f7f7;
    transition: all ease-in-out .2s;
}

#buttons #minimize:hover {
    background-color: #333333;
}

#buttons #maximize:hover{
    background-color: #333333;
}

#buttons #close:hover{
    background-color: #FF0000;
}

#container main{
    color: #f7f7f7;
}

.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: block;
    background-color: #333333;
}

.bottom #devName{
    width: 30%;
    height: 100%;
    line-height: 30px;
    color: #f7f7f7;
    font-size: 1.2em;
    font-weight: bold;
    float: right;
    padding: 0 1em 0 0;
}